.standard_alignment {
    margin: 1em 0 1em 0;
    text-align: center;
}

.basic_width30 {
    width:30%;
}
.c_red {
    color:#db2828;
}

#scanner_ajax_loader_avp {
    width: 48px;
    height:48px;
    display: none;
}

#scanner_ajax_reportbox, #latest_report {
    display: none;
}