.ui.image.registration {
    width: 5em !important;
    height: auto !important;
}

.ui.large.form.registration label {
    text-align:left;
}

.ui.checkbox.registration {
    display: block;
}

.huge.ui.button.registration {
    width:100%;
    background-color: #24ba45;
    color: #ffffff;
}